.about-row {

  &__list {
    display: grid;
    grid-template-columns: 45.3% 42.2%;
    gap: 34px 14px;

    @include min-media($tablet) {
      display: flex;
      grid-template-columns: auto;
      justify-content: space-between;
      max-width: 1230px;
    }
  }

  &__desc {
    margin-top: 10px;
  }

}