.blog-section {

  $gap: 18px;
  &__row {

    @include min-media($tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: $m-medium $gap;
    }
  }

  &__item {

    @include media($tablet) {
      @include mb(35px);
    }

    @include min-media($tablet) {
      @include flex-basis-responsive(2, $gap)
    }

    @include min-media($desktop) {
      @include flex-basis-responsive(4, $gap)
    }
  }

  &__description {
    margin-top: 30px;
    max-width: 268px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include media($desktop) {
      display: none;
    }
  }

  &__img {
    @extend %radius;
    overflow: hidden;

    @include media($desktop) {
      &,
      & img {
        width: 100%;
        height: auto;
      }
    }

    img {
      @include hover {
        transform: scale(1.2);
      }
    }

  }

  &__tags {
    margin-bottom: $m-medium;
  }

  &__btn-wrapper-large {
    margin-top: $m-medium;
  }
}