.header {
  position: relative;
  z-index: 2;

  &__row,
  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__row {
    padding: 7px 0px;
    justify-content: space-between;

    @include min-media($desktop) {
      padding: 28px 0px;
    }
  }

  &__left {
    gap: 32px;

    .menu {
      display: none;

      @include min-media($desktop) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18px;
      }

    }
  }

  &__right {
    gap: 18px;

    .lang {
      display: none;

      @include min-media($desktop) {
        display: block;
      }
    }
  }

  &__btn {

    span {
      display: none;

      @include min-media($tablet) {
        display: inline;
      }
    }

  }

  &__burger {
    @include size(28);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    @include min-media($desktop) {
      display: none;
    }

    &.is-active {

      .header__burger-wrapper {

        span {
          transform: scaleX(0);
        }

        &:before {
          top: calc(50% - 2px);
          transform: rotate(45deg);
        }

        &:after {
          bottom: 50%;
          transform: rotate(-45deg);
        }

      }

    }

  }

  &__burger-wrapper {
    position: relative;
    @include size(20, 14);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:before,
    &:after,
    span {
      width: 100%;
      height: 2px;
      background: currentColor;
      @extend %radius;
      @include transition;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0px;
    }

    &:before {
      top: 0px;
    }

    &:after {
      bottom: 0px;
    }
  }

  &__modal {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: calc(100 * var(--vh));
    top: 0px;
    left: 0px;
    background: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transform: scale(0);
    transform-origin: right top;
    @include transition;

    &.is-open {
      transform: scale(1);
    }

    @include min-media($desktop) {
      display: none;
    }

    .menu {
      align-items: center;
    }

    .menu a,
    .lang {
      font-size: 24px;
    }

  }
}