.hero {
  padding-top: 0px;
  padding-bottom: $m-medium;

  @include min-media($desktop) {
    padding-top: $m-medium;
  }

  &__row {
    display: flex;
    flex-direction: column-reverse;

    @include min-media($tablet-pro) {
      margin-top: $m-medium;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    position: relative;

    @include min-media($tablet-pro) {
      max-width: 823px;
    }
  }

  &__btn-row {
    margin-top: 30px;

    @include min-media($tablet-pro) {
      margin-top: $m-medium;
    }
  }

  &__right {
    position: relative;
    z-index: 1;
    flex-shrink: 0;

    @include media($tablet-pro) {
      align-self: flex-end;
    }

    img {
      @include media($tablet-pro) {
        width: 152px;
        height: auto;
      }
    }
  }

  &__list,
  &__tags {
    @include media($tablet-pro) {
      order: 1;
    }
  }

  &__tags {
    @include media($tablet-pro) {
      margin-top: 37px;
    }
  }

  &__title-wrapper {
    position: relative;

    @include media($small-tablet) {
      max-width: 296px;
    }

    @include min-media($tablet-pro) {
      margin-top: 105px;
    }

    span {
      display: block;
      @extend %h2-title;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__label {
    position: absolute;
    bottom: 0px;
    right: 0px;

    @include min-media($tablet-pro) {
      right: 0;
      top: -37px;
      bottom: auto;
    }

    @include min-media($desktop) {
      right: 206px;
      top: 37px;
    }

  }

  &__subtitle {

    span {
      color: $accent;
    }

  }

  $mob-gap: 25px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $mob-gap;
    padding: 0px;
    margin-top: $m-medium;

    @include min-media($small-tablet) {
      gap: 33px;
    }

    @include min-media($desktop) {
      padding: 0px 20px;
    }
  }

  &__list-item,
  &__list-link {
    display: flex;
    align-items: center;
  }

  &__list-item {
    @extend %h4-title;
    @extend %title-dark;
    padding-left: 22px;
    position: relative;

    @include media($small-tablet) {
      @include flex-basis-responsive(2, $mob-gap);
    }

    &:before {
      content: '';
      height: 100%;
      width: 4px;
      background: $accent;
      position: absolute;
      top: 0px;
      left: 0px;
      @extend %radius;
    }
  }

  &__list-link {
    color: $accent;
    text-transform: uppercase;
  }

  &__img {
    margin-top: 20px;

    @include media($desktop) {
      width: 100%;
      height: auto;
    }
  }

  &__desktop {

    @include media($tablet-pro) {
      display: none;
    }

  }

  &__mobile {

    @include min-media($tablet-pro) {
      display: none;
    }

  }
}