.single {

  &__banner,
  &__row {
    @include mt(65px);
  }

  &__row {

    @include min-media($desktop) {
      display: grid;
      gap: 55px;
      grid-template-columns: 148px 875px;
    }

    .breadcrumbs + & {
      margin-top: 10px;
    }

  }

  &__sidebar {

    .back-link {
      margin-bottom: 10px;
    }

  }

}