.why-us {

  &__heading {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  &__row {
    position: relative;
    z-index: 1;

    @include min-media($tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 13px;
    }

    @include min-media($desktop) {
      grid-template-columns: repeat(3, 1fr);
    }

  }

  &__item {
    @include media($tablet) {
      @include mb(13px);
    }
  }

  &__info {
    padding: 46px 31px;

    @include min-media($tablet-pro) {
      padding: 76px 46px;
    }
  }

  &__list {
    @include min-media($small-tablet) {
      max-width: 340px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

  &__list-item {
    @extend %h3-title;

    @include media($small-tablet) {
      @include mb(10px);
    }
  }
}