.friends {

  &__title {
    text-transform: uppercase;
  }

  &__list {
    @include min-media($tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    @include min-media($tablet-pro) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include min-media($desktop) {
      display: flex;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mb(10px);

    @include min-media($tablet) {
      @include mb(0);
    }
  }
}