.user-info {
  padding: 94px 0px;

  &__avatar {
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;

    img {
      display: block;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 30px;
    }

  }

  &__label {
    margin-bottom: 10px;
  }

  &__item-contact {

    @include min-media($tablet) {
      margin-top: 65px;
    }

  }

}