{# include style #}
{% set title = 'Головна' %}
{% set stylesPage = ['front-page'] %}
{#{% set stylesVendor = ['your-name-vendor-style-name'] %} #}{# include style vendor #}
{% set scriptsVendor = ['imask'] %}  {# include style vendor #}
{% set scripts = ['contact-mask'] %}

{% import "components/card.njk" as macros %}
{% set card = macros.card %}
{% import "components/social.njk" as social %}
{% set social = social.social %}
{% import "components/card-row.njk" as cardRow %}
{% set cardRow = cardRow.cardRow %}
{% import "layouts/sections.njk" as sections %}
{% set hero = sections.hero %}
{% set whyUs = sections.whyUs %}
{% set journal = sections.journal %}
{% set cardSection = sections.cardSection %}
{% set price = sections.price %}
{% set reviews = sections.reviews %}
{% set friends = sections.friends %}
{% set interesting = sections.blogSection %}

{% extends 'layouts/layout.njk' %}

{% block content %}
    <div class="wrapper">
        {% include 'components/header.njk' %}
        <main class="main">
            {{ hero(
                ['Для учнів', 'НМТ/ЕВІ', 'Для студентів', 'У комфортнму класі', 'on-line'],
                'Вас вітає <span>школа англійської мови </span>' | safe,
                iconUrl + '#mark',
                'для <span>дітей</span> та <span>дорослих</span>' | safe,
                imgServerUrl + 'hero-img.png',
                [
                    ['Затишні<br> кабінети' | safe],
                    ['Досвідчені<br> вчителя' | safe],
                    ['Електронний<br> щоденник' | safe, '1'],
                    ['Табори, Фільми та<br> інтерактив' | safe]
                ],
                imgUrl + 'hero.jpg'
            ) }}

            {% call whyUs(
                imgUrl + 'logo-accent.svg',
                'Чому ми?',
                'SP SCHOOL -це сучасна школа англійської мови, де навчання перетворюється на цікаву та інтерактивну мандрівку. Наші досвідчені викладачі знають підхід до кожного учня та застосовують інноваційні методи, щоб швидко надати середу. для ефективного вивчення англійської мови',
                'А також:',
                ['🎬 Кіно', '🛣 Подорожі', '🧩 Ігри', '⛺️ Табір']
                ) %}
                {% call card(
                    'Якість<br> навчання та викладачі' | safe,
                    'Наші викладачі мають освіту, сертифікати та багаторічний досвід роботи з дітьми та дорослими. Вони постійно вдосконалюють свої навички'
                    ) %}
                    <img src="{{ imgUrl }}quality.jpg" width="381" height="130" alt="">
                {% endcall %}
                {% call card(
                    'Програми та курси',
                    'Ми пропонуємо широкий вибір курсів: від базових рівнів до підготовки до іспитів IELTS та TOEFL. В нашій школі є курси для дітей, курси для дорослих, розмовні клуби, а також індивідуальні заняття для тих, хто потребує особливого підходу.',
                    'card__accent'
                    ) %}
                    {% set universities = ['harvard.jpg', 'cambridge.jpg'] %}
                    <ul class="brands">
                        {% for university in universities %}
                            <li>
                                <img src="{{ imgUrl }}{{ university }}" width="70" height="18" alt="">
                            </li>
                        {% endfor %}
                    </ul>
                {% endcall %}
                {% call card(
                    'інтерактив та Дозвілля',
                    'Наші інтерактивні заняття включають використання сучасних технологій та ігрових методик, що робить навчання цікавим та ефективним.'
                    ) %}
                    <img src="{{ imgUrl }}team.jpg" width="381" height="130" alt="">
                {% endcall %}
                {% call card(
                    'Відгуки та результати',
                    'Дивіться реальні відгуки від наших студентів та їхніх батьків, які підтверджують ефективність наших методик.'
                    ) %}
                    <img src="{{ imgUrl }}quality.jpg" width="381" height="130" alt="">
                {% endcall %}
            {% endcall %}

            {{ journal(
                'ЄЛЕКТРОННИЙ ЩОДЕННИК',
                'Ми розробили щоденник, де можна слідкувати за рейтингом, бачити домашні завдання, бачити коментар від вчителя І все це з Компьютера та телефона!' | safe,
                imgUrl + 'journal.png',
                [
                    {
                        icon: iconUrl + '#pen',
                        title: 'Домашні завдання та коментарі',
                        text: 'Вчителі можуть легко призначати домашні завдання та залишати коментарі щодо успішності учнів, що сприяє кращому розумінню та виконанню завдань.'
                    },
                    {
                        icon: iconUrl + '#calendar',
                        title: 'Розклад <br>занять' | safe,
                        text: 'Вчителі та учні завжди знають, коли відбуваються заняття, завдяки зручному електронному розкладу, що допомагає ефективно планувати свій час.'
                    },
                    {
                        icon: iconUrl + '#graph',
                        title: 'Прозорість <br>оцінок' | safe,
                        text: 'Учні та їхні батьки можуть у будь-який момент переглянути оцінки та рейтинг учня, що забезпечує прозорість навчального процесу та допомагає слідкувати за прогресом.'
                    },
                    {
                        icon: iconUrl + '#phone',
                        title: "Зворотний зв'язок для батьків",
                        text: 'Батьки мають доступ до інформації про успішність та активність учня, що дозволяє їм активно брати участь у навчальному процесі та підтримувати своїх дітей.'
                    }
                ]
            ) }}

            {{ price(
                'ЦІНИ',
                'Тарифи для всіх, під ваші потреби',
                [
                    {
                        title: 'Індивідуальний урок',
                        list: ['60 хвилин'],
                        time: '60 <span>хвилин</span>' | safe,
                        price: ['450 грн', 'заняття']
                    },
                    {
                        title: 'Початкова/ середня школа до рівня В1',
                        list: ['Діти до 18 років', 'до 9 людей в групі', '<strong>8-9 занять на місяць</strong>' | safe, '<strong>90 хвилин</strong>/заняття' | safe, '<strong>Електронний щоденник</strong>' | safe],
                        time: '175 грн <span>урок</span>' | safe,
                        price: ['від 1 200 грн', 'місяць']
                    },
                    {
                        title: 'Рівень В2 і вище',
                        list: ['2 місяця', 'до 10 людей в групі', '8 занять на місяць', '90 хвилин/заняття'],
                        time: '200 грн <span>урок</span>' | safe,
                        price: ['1 300 грн', 'місяць']
                    },
                    {
                        title: 'Підготовка до НМТ',
                        list: ['до 9 людей в групі', '8-9 занять на місяць', '90 хвилин/заняття'],
                        time: '200 грн <span>урок</span>' | safe,
                        price: ['1 300 грн', 'місяць']
                    }
                ]
            ) }}

            {% call cardSection(
                'SP SCHOOL школа англійської мови'
                ) %}

                    {% call cardRow(
                        'SP SCHOOL <span>школа англійської мови </span>' | safe,
                        'для <span>дітей</span> та <span>дорослих</span>' | safe,
                        imgUrl + 'card-row-1.jpg',
                        'Сторінка про нас',
                        class = 'card-section__item',
                        classTitle = 'h1-title'
                    ) %}
                    {% endcall %}

                    {% call cardRow(
                        'Дозвілля' | safe,
                        'ЯК ПРОВОДИМО ВІЛЬНИЙ ЧАС В НАШІЙ ШКОЛІ?' | safe,
                        imgUrl + 'card-row-2.jpg',
                        'Сторінка про дозвілля',
                        imgUrl,
                        class = 'card-section__item card-row__reverse'
                        ) %}
                    {% endcall %}

                    {% call cardRow(
                        'Табір' | safe,
                        'ЯК ПРОВОДИМО ВІЛЬНИЙ ЧАС В НАШІЙ ШКОЛІ?' | safe ,
                        imgUrl + 'card-row-2.jpg',
                        'Сторінка про дозвілля',
                        imgUrl,
                        class = 'card-section__item'
                        ) %}
                    {% endcall %}

            {% endcall %}

            {{ reviews(
                'Відгуки' | upper,
                'Реальні відгуки від учнів',
                imgUrl,
                iconUrl
            ) }}

            {{ friends(
                imgUrl = imgUrl
            ) }}

            {{ interesting(
                'Цікаво:' | upper,
                imgUrl,
                ['1', '2', '3' , '4'],
                'ЦІКАВІ СТАТТІ' | lower
            ) }}

            {% include 'components/contact.njk' %}
        </main>
        {% include 'components/footer.njk' %}
    </div>
{% endblock %}
