.reviews {

  &__list {
    position: relative;
  }

  &__images {
    display: flex;
    gap: 12px;

    @include media($desktop) {
      overflow: auto;
      width: calc(100% + 2 * #{$padding});
      margin-left: calc(0 - #{$padding});
    }
  }

  &__item {
    flex-shrink: 0;
  }

  .button-row {
    margin-top: $m-medium;
  }

  &__helper {
    @include transformY-center;
    right: 80px;
    animation-name: bounce;
    animation-duration: 1.2s;
    animation-timing-function: $time-function;
    animation-fill-mode: forwards;
    opacity: 0;
    visibility: hidden;
    color: $light;

    @include min-media($desktop) {
      display: none;
    }
  }
}

@keyframes bounce {
  10% {
    opacity: 1;
    visibility: visible;
  }
  35% {
    transform: translateY(-50%) translateX(60%);
    opacity: 1;
    visibility: visible;
  }
  70% {
    transform: translateY(-50%) translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}