.button-row {
  display: flex;
  align-items: center;
  gap: 19px;

  &__link {
    @include media($desktop) {
      font-size: 14px;
    }
  }

  &__flex-end {
    justify-content: flex-end;

    @include media($desktop) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 24px;
    }
  }
}