.btn {

  .wp-core-ui &,
  & {
    border-radius: 10px;
    padding: 20px 30px;
    background: $accent;
    border: 1px solid $accent;
    color: $light;
    @extend %h3-title;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 15px;

    @include hover {
      background: $transparent;
      color: $dark;
    }

  }

  .wp-core-ui & {

    @include hover {
      border-color: $accent;
      color: inherit;
    }

  }

  .wp-core-ui &__dark ,
  &__dark {
    color: $dark;
    @include font-settings(16, 20);
  }

  &__small {
    padding: 8px 20px;
    text-transform: none;
  }

}

.admin-btn {
  color: $admin-btn;
  font-weight: 700;
  line-height: 1.4;
  @extend %link;
}