.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  &__item {
    @extend %radius;
    padding: 8px 28px;
    @extend %h4-title;
    color: $accent;
    background: $dark-accent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include min-media($tablet) {
      display: flex;
      padding: 15px 39px;
      background: #DCDCDC;
      border-radius: $radius;
      flex-direction: row;
      gap: 40px;
    }

    .tags__item {
      width: 100%;
      background: $light;
      color: $dark-accent;
      border: 1px solid $light;

      &:not(.tags__current) {

        @include hover{
          border-color: $dark-accent;
        }

      }
    }

    .tags__current {
      background: $accent;
      border-color: $accent;
    }
  }
}