@import "../base/base";

#wpadminbar {
  display: none !important;
}

html.wp-toolbar {
  padding-top: 0px !important;
}

$sidebar-width: 210px;
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
  width: $sidebar-width;
  background: #E5E5E5;
}

#adminmenu li.menu-top {

  .wp-submenu {
    z-index: 99999;
  }

  .wp-submenu a,
  .wp-submenu li a.current,
  .wp-submenu a:hover,
  a.menu-top {
    font-size: 14px;
    font-weight: 700;
    color: $dark;

    @include hover {
      color: $accent;
    }
  }

}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background: $transparent;
  color: $accent;
}

#adminmenu .wp-has-current-submenu ul > li > a {
  padding-left: 50px;
}

#collapse-button:hover {
  color: $accent;
}

#wpcontent, #wpfooter {
  margin-left: $sidebar-width;
}