{% macro listImages(imgUrl, class, rowSecond) %}
    <div class="list-images{{ ' ' + class }}">
        <ul class="list-images__row">
            {% for i in range(1, 9) %}
                <li class="list-images__list-item">
                    <img src="{{ imgUrl }}small-image-{{ i }}.jpg" width="143" height="87" alt="">
                </li>
            {% endfor %}
        </ul>
        {% if rowSecond %}
            <ul class="list-images__row">
                {% for i in range(1, 9) %}
                    <li class="list-images__list-item">
                        <img src="{{ imgUrl }}small-image-{{ i }}.jpg" width="143" height="87" alt="">
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}