<ul class="button-row button-row__flex-end">
    <li>
        <p class="h3-title">Детальнише про кожен тариф, можно ознайомитись Ціни</p>
    </li>
    <li>
        <a href="#" class="btn btn__dark">{{ 'СТОРІНКА ПРО ЦІНИ' | lower }}</a>
    </li>
</ul>