.address {
  font-style: normal;

  &__item {
    display: flex;
    align-items: center;
    gap: 28px;
    @include mb(13px);

    a {

      @include hover {
        color: $accent;
      }

    }

    .icon {
      flex-shrink: 0;
    }
  }

}
