.card-row {
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;

  @include min-media($desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: $m-medium;
  }

  $size: 609px;
  &__text-wrapper {

    @include min-media($desktop) {
      max-width: $size;
    }


    @include media($desktop) {
      margin-top: 20px;
    }
  }

  &__title {

    span {
      display: block;
      @extend %h2-title;
    }

  }

  &__description {

    span {
      color: $accent;
    }

  }

  &__img {
    flex-shrink: 0;

    img {
      @include media($desktop) {
        width: 100%;
        height: auto;
      }
    }

    @include min-media($desktop) {
      max-width: calc(100% - #{$m-medium} - #{$size});
    }
  }

  &__btn {
    margin-top: $m-small;
  }

  &__list-wrapper {
    margin-top: 24px;

    @include min-media($desktop) {
      margin-top: $m-medium;
    }

    @include media($desktop) {
      order: -1;
    }
  }

  &__content {
    margin-top: $m-small;
  }



  &__reverse {

    @include min-media($desktop) {
      flex-direction: row-reverse;
    }

  }

}