.heading {
  @include mb($m-small);

  &__medium {
    margin-bottom: $m-medium;
  }

  &__large {
    margin-bottom: $m-large;
  }

  &__description {
    margin-top: 10px;
  }

  &__description-large {
    margin-top: $m-small;
  }

  &__subtitle {
    margin-top: 10px;
    max-width: 609px;
  }

  &__buttons-row {
    margin-top: $m-small;
  }
}