// Colors
$light: #fff;
$dark: #000;
$transparent: rgba(255, 255, 255, 0);
$dark-accent: #07317E;
$accent: #EEB114;
$label-color: #C41AEF;
$second-light: #E2EFF4;
$silver-light: #f2f4f3;
$second-text: #A7A7A7;
$text-accent: #356acc;
$admin-btn: $text-accent;
$admin-input-bg: #ededed;

// media sizes
$desktop: 1200;
$tablet-pro: 1000;
$tablet: 768;
$small-tablet: 576;

// animations
$speed: 300ms;
$time-function: ease-in-out;

:root {
  --speed: #{$speed};
  --time-function: #{$time-function};
  --vh: 1vh;
  --desktop: #{$desktop};
}

//layout
$m-small: 30px;
$m-medium: 50px;
$m-large: 80px;
$m-extra: 150px;
$radius: 10px;
$padding: 11px;
$desktop-width: 1310px;
$site-container: $desktop-width + ($padding * 2);

